<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header", {"image": "Resources.png"}) %>
    <main class="container my-5">
        <div class="d-flex justify-content-between">
            <%- include("partials/resourceDropdown", {"siteName": fed.name, "sites": fed.sites})%>
            <%- include("partials/resourceDropdown", {"siteName": cal.name, "sites": cal.sites})%>
            <%- include("partials/resourceDropdown", {"siteName": monte.name, "sites": monte.sites})%>
        </div>
    </main>

    <footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>